@font-face {
	font-family: 'Comfortaa';
	src:url('fonts/Comfortaa-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Comfortaa';
	src:url('fonts/Comfortaa-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: bold;
}

@font-face {
	font-family: 'Comfortaa';
	src:url('fonts/Comfortaa-Light.ttf') format('truetype');
	font-weight: light;
	font-style: light;
}
.padding-top-double {
  padding-top: 60px;
}
.padding-top-full {
  padding-top: 30px;
}
.padding-top-half {
  padding-top: 15px
}
.padding-bottom-double {
  padding-bottom: 60px;
}
.padding-bottom-full {
  padding-bottom: 30px;
}
.padding-bottom-half {
  padding-bottom: 15px
}
.padding-left-double {
  padding-left: 60px;
}
.padding-left-full {
  padding-left: 30px;
}
.padding-left-half {
  padding-left: 15px
}
.padding-right-double {
  padding-right: 60px;
}
.padding-right-full {
  padding-right: 30px;
}
.padding-right-half {
  padding-right: 15px
}
.padding-vertical-double {
  padding: 60px 0;
}
.padding-vertical-full {
  padding: 30px 0;
}
.padding-vertical-half {
  padding: 15px 0
}
.padding-horizontal-double {
  padding: 0 60px;
}
.padding-horizontal-full {
  padding: 0 30px;
}
.padding-horizontal-half {
  padding: 0 15px
}
.padding-double {
  padding: 60px;
}
.padding-full {
  padding: 30px;
}
.padding-half {
  padding: 15px
}

body.font-comfortaa{
  font-family: 'Comfortaa';
}

.font-comfortaa #primary-menu ul li a{
  font-family: 'Comfortaa';
  font-weight: bold;
  color: white;
  letter-spacing: 1px;
  font-size: 1.7rem;
}

.font-comfortaa h1, .font-comfortaa h2, .font-comfortaa h3, .font-comfortaa h4, .font-comfortaa h5, .font-comfortaa h6{
  font-family: 'Comfortaa';
}

#header.sticky-header #header-wrap {
  background-color: #243249;
}

#cops .image_fade{
  width: 100%;
  max-height: 300px;
  object-fit: cover;
	margin-bottom: -5px;
}

#cops [class^="col-"]{
  padding: 0px;
}

#slider::after{
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#slider #title {
  font-size: 15rem;
  text-transform: uppercase;
  color: #cb6120;
}

img.no-visible{
  display: none;
}

.image-ratio-4-3{
  width: 100%;
  position: relative;
  background-size: cover;
  background-clip: content-box;
}

.image-ratio-4-3::before{
  padding-top: 75%;
  content: "";
  position: static;
  display: block;
}

.portfolio{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.portfolio-overlay{
  display: flex;
}

.portfolio-overlay button.button.button-border{
  border-color: white;
  color: white;
  margin: auto;
}

.gallery-item .on-hover {
  text-align: center;
  vertical-align: middle;
  align-items: center;
  align-content: center;
  display: flex;
}

.gallery-item .on-hover .container{
  margin: auto;
}

.gallery-item .on-hover h2 {
  font-family: 'Comfortaa';
  font-weight: 700;
  font-size: 3rem;
  letter-spacing: 2px;
  color: white;
  margin: auto;
}

.gallery-item .on-hover button {
  z-index: 3;
  border-color: white;
  color: white;
}

.modal.bs-example-modal-lg .modal-content {
  border-radius: 0;
}

.modal.bs-example-modal-lg .modal-header {
  border-bottom: none;
}

#data_modal .modal-content {
	padding: 30px;
  background-color: #243249;
  color: white;
}

#data_modal .modal-body-img img {
  width: 100%;
  padding-right: 15px;
}

#data_modal .modal-body-text ul {
  margin-left: 30px;
}

#data_modal .category {
	text-transform: uppercase;
  margin-bottom: 15px;
  color: white;
}

#data_modal .modal-title {
  color: #cb6120;
}
